<mat-toolbar color="primary">

	<mat-icon>home</mat-icon>
	<h1>
		TSHub - endpoint for kvmtop and kvmprofiler
	</h1>

	<span class="fill-remaining-space"></span>

	<div>
		<mat-form-field>
			<mat-select [(ngModel)]="timeframe" (ngModelChange)="onTimeframeChange($event)">
				<mat-option value="4">24h</mat-option>
				<mat-option value="3">12h</mat-option>
				<mat-option value="2">1h</mat-option>
				<mat-option value="1">30min</mat-option>
				<mat-option value="0">1min</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<div>
		<button mat-stroked-button (click)="reload()">
			<mat-icon>sync</mat-icon> reload
		</button>
	</div>

</mat-toolbar>